/*
Additional style for hip POS
*/
.ok-input-field {
	background-color: white;
}
.error-input-field {
	background-color: #ffffcc;
}
.readonly-input-field {
	background-color: #CFCFCF;
}

.itembox { 
    position: relative;
    float:left; 
} 

.RemoveMediaNotif { 
    position: absolute;
    right: 0px;
    top: 0px; 
    text-decoration:underline; 
    cursor: pointer;
    background-image:images/closeIcon.png;
} 

#overlayForm {
     visibility: hidden;
     position: absolute;
     background: #ccffff;  /* baby blue */
     left: 200px;
     top: 100px;
     width:100%;
     height:3%;
     text-align:left;
     z-index: 1000;
}

