/*
Additional style for hip POS
*/
.ok-input-field {
	background-color: white;
}
.error-input-field {
	background-color: #ffffcc;
}
.readonly-input-field {
	background-color: #CFCFCF;
}


#overlayForm {
     visibility: hidden;
     position: absolute;
     background: #ffffcc;
     left: 200px;
     top: 100px;
     width:100%;
     height:3%;
     text-align:left;
     z-index: 1000;
}

